*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --main-accent-color: white;
    --secondary-accent-color: #7a7c82;
}

/* UTILITIES */

.flex-container{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.margin-bot{
    margin-bottom: 1.5rem;
}

.c-white{
    color: var(--main-accent-color);
}

/* Principal parts */
header{
    width: 220px;
    height: calc(100% - 100px);
    background-color: black;
    color: var(--secondary-accent-color);
    position: fixed;
    padding: 1.5rem 1rem 0.5rem;
    font-weight: 600;
}

main{
    width: calc(100% - 220px);
    background-color: #141922;
    overflow-y: auto;
    padding-bottom: 10rem;
    right: 0;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* HEADER PART */
.logo img{
    width: 65%;
}

header li{
    line-height: 2.5rem;
}

.main-nav li img{
    height: 1.85rem;
    display: inline;
    vertical-align:middle;
}

.playlists h3{
    margin-bottom: 0.8rem;
}

.create-tool{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.add-icon{
    font-size: 2.5rem;
    color: black;
    background-color: var(--secondary-accent-color);
    padding: 0 0.8rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.download{
    margin-bottom: 0.7rem;
}

.download img{
    height: 1.2rem;
    margin-right: 0.2rem;
    display: inline;
    vertical-align: bottom;
}

.divider{
    border-top: 1px solid #b8bbc4;
    margin-bottom: 1.1rem;
}

.profile img{
    height: 2rem;
    margin-right: 0.2rem;
    display: inline;
    background-color: #7a7c82;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
    vertical-align: middle;
}

/* MAIN PART */
/* Upper main sections */
main li{
    display: inline-block;
}

.upgrade{
    width: 100%;
    height: 100px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    padding: 0 1rem;
}

.upgrade a{
    color: var(--main-accent-color);
    font-weight: 500;
    border: 2px solid white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
}

.categories{
    width: 100%;
    padding: 1rem 0;
    color: var(--secondary-accent-color);
    text-transform: uppercase;
    font-weight: bold;
}

.categories li{
    margin: 0 1rem 1.5rem;
}

/* Music discs sections */
.music-part{
    padding: 0 1.2rem;
}

.row-discs{
    width: 100%;
}

.music-cover img{
    width: 100%;
    max-width: 100%;
}

.disc-box figcaption{
    text-align: center;
    color: var(--main-accent-color);
    overflow: hidden;
}

/* Recently */
.recently-music{
    width: 100%;
    color: var(--main-accent-color);
}

.recently-music .disc-box{
    width: calc((100% / 6) - 1.5vw);
    margin: 1.5rem 1.5vw 3rem 0;
}

/* For you */
.your-music,
.popolar-artists{
    width: calc(100% / 3);
    color: var(--main-accent-color);
}

.your-music .disc-box{
    width: calc((100% / 2) - 1.5vw);
    margin: 1.5rem 1.5vw 3rem 0;
}

/* Artists */
.popolar-artists .disc-box{
    width: calc((100% / 2) - 1.5vw);
    margin: 1.5rem 1.5vw 3rem 0;
}

.popolar-artists img{
    border-radius: 50%;
}

/* RESPONSIVE */

/* Medium view */
@media screen and (max-width: 992px) {
    .recently-music .disc-box{
        width: calc((100% / 4) - 1.5vw);
        margin: 1.5rem 1.5vw 3rem 0;
    }

    .your-music .disc-box,
    .popolar-artists .disc-box{
        width: calc((100% / 2) - 1.5vw);
        margin: 1.5rem 1.5vw 3rem 0;
    }

    .your-music,
    .popolar-artists{
        width: 50%;
    }
}

/* Small view */
@media screen and (max-width: 768px) {
    .recently-music .disc-box,
    .your-music .disc-box,
    .popolar-artists .disc-box{
        width: calc((100% / 2) - 2vw);
        margin: 1.5rem 2vw 3rem 0;
    }

    .your-music,
    .popolar-artists{
        width: 100%;
    }
}

/* Extra-small view */
@media screen and (max-width: 576px) {
    header{
        width: 50px;
    }
    
    main{
        width: calc(100% - 50px);
    }

    .categories li{
        margin: 0 0.5rem 1.5rem;
    }
}